body {
  text-align: center;
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
}

#level-title {
  font-size: 3rem;
  margin:  1% 6% 3% 6%;
  color: #FEF2BF;
}
#game-title{
  font-size: 3rem;
  margin:  5% 6% 1% 6%;
  color: #FEF2BF;
}

.container {
  display: block;
}

.game-btn {
  margin: 15px 25px;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border: 0.8rem solid black;
  border-radius: 20%;
}

.start-btn{
  margin: 10px;
  height: 7rem;
  width: 7rem;
  display: inline-block;
  border: 0.8rem solid black;
  border-radius: 100%;
  background-color: pink;
  font-size: 1rem;
  line-height: 6;
  position:relative;
  bottom: 16.5rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
